version: '3.8'

services:
  flight-status-board:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '80:80'
      - '8080:8080'
    environment:
      - PORT=80
    restart: unless-stopped
